[mysqld_safe]

[mysqldump]
quick
quote-names
max_allowed_packet                      = {{ getenv "MYSQL_DUMP_MAX_ALLOWED_PACKET" "1G" }}

[mysqlhotcopy]
interactive-timeout

[client]
port                                    = {{ getenv "MYSQL_PORT" "3306" }}
socket                                  = /var/run/mysqld/mysqld.sock
default-character-set                   = {{ getenv "MYSQL_CLIENT_DEFAULT_CHARACTER_SET" "utf8mb4" }}

[mariadb]
tls_version                             = {{ getenv "MARIADB_TLS_VERSION" "TLSv1.2,TLSv1.3" }}
{{- if getenv "MARIADB_PLUGIN_LOAD" }}
plugin_load                             = {{ getenv "MARIADB_PLUGIN_LOAD" }}
{{- end }}
{{- if getenv "MARIADB_SSL_CERT" }}
ssl_cert                                = {{ getenv "MARIADB_SSL_CERT" }}
{{- end }}
{{- if getenv "MARIADB_SSL_KEY" }}
ssl_key                                 = {{ getenv "MARIADB_SSL_KEY" }}
{{- end }}
{{- if getenv "MARIADB_SSL_CA" }}
ssl_ca                                  = {{ getenv "MARIADB_SSL_CA" }}
{{- end }}

[mysqld]
user                                    = mysql
bind-address                            = {{ getenv "MARIADB_BIND_ADDRESS" "0.0.0.0" }}
basedir                                 = /usr
datadir                                 = /var/lib/mysql
connect_timeout                         = {{ getenv "MYSQL_CONNECT_TIMEOUT" "10" }}
socket                                  = /var/run/mysqld/mysqld.sock
log-warnings

collation-server                        = {{ getenv "MYSQL_COLLATION_SERVER" "utf8mb4_unicode_ci" }}
init_connect                            = '{{ getenv "MYSQL_INIT_CONNECT" "SET NAMES utf8mb4" }}'
character_set_server                    = {{ getenv "MYSQL_CHARACTER_SET_SERVER" "utf8mb4" }}
character_set_filesystem                = {{ getenv "MYSQL_CHARACTER_SET_FILESYSTEM" "binary" }}

{{- if getenv "MYSQL_LOWER_CASE_TABLE_NAMES" }}
lower_case_table_names                  = {{ getenv "MYSQL_LOWER_CASE_TABLE_NAMES" }}
{{- end }}

symbolic-links                          = 0
{{- if getenv "WSREP_ON" }}
default_storage_engine                  = InnoDB
{{- else }}
default_storage_engine                  = {{ getenv "MYSQL_DEFAULT_STORAGE_ENGINE" "InnoDB" }}
{{- end }}

skip-character-set-client-handshake
skip-name-resolve

back_log                                = {{ getenv "MYSQL_BACK_LOG" "100" }}

{{- if getenv "MYSQL_JOIN_BUFFER_SIZE" }}
join_buffer_size                        = {{ getenv "MYSQL_JOIN_BUFFER_SIZE" }}
{{- end }}
{{- if getenv "MYSQL_JOIN_BUFFER_SPACE_LIMIT" }}
join_buffer_space_limit                 = {{ getenv "MYSQL_JOIN_BUFFER_SPACE_LIMIT" }}
{{- end }}
max_heap_table_size                     = {{ getenv "MYSQL_MAX_HEAP_TABLE_SIZE" "16M" }}
query_cache_limit                       = {{ getenv "MYSQL_QUERY_CACHE_LIMIT" "1M" }}
query_cache_min_res_unit                = {{ getenv "MYSQL_QUERY_CACHE_MIN_RES_UNIT" "4K" }}
query_cache_size                        = {{ getenv "MYSQL_QUERY_CACHE_SIZE" "1M" }}
query_cache_type                        = {{ getenv "MYSQL_QUERY_CACHE_TYPE" "OFF" }}
sort_buffer_size                        = {{ getenv "MYSQL_SORT_BUFFER_SIZE" "2M" }}
table_definition_cache                  = {{ getenv "MYSQL_TABLE_DEFINITION_CACHE" "400" }}
table_open_cache                        = {{ getenv "MYSQL_TABLE_OPEN_CACHE" "4096" }}
thread_cache_size                       = {{ getenv "MYSQL_THREAD_CACHE_SIZE" "75" }}
tmp_table_size                          = {{ getenv "MYSQL_TMP_TABLE_SIZE" "16M" }}

max_allowed_packet                      = {{ getenv "MYSQL_MAX_ALLOWED_PACKET" "256M" }}
max_connect_errors                      = {{ getenv "MYSQL_MAX_CONNECT_ERRORS" "100000" }}
max_connections                         = {{ getenv "MYSQL_MAX_CONNECTIONS" "100" }}
open_files_limit                        = {{ getenv "MYSQL_OPEN_FILES_LIMIT" "0" }}

innodb_buffer_pool_size                 = {{ getenv "MYSQL_INNODB_BUFFER_POOL_SIZE" "128M" }}
innodb_data_file_path                   = {{ getenv "MYSQL_INNODB_DATA_FILE_PATH" "ibdata1:10M:autoextend:max:10G" }}
innodb_default_row_format               = {{ getenv "MYSQL_INNODB_DEFAULT_ROW_FORMAT" "dynamic" }}
innodb_fast_shutdown                    = {{ getenv "MYSQL_INNODB_FAST_SHUTDOWN" "1" }}
innodb_file_per_table                   = {{ getenv "MYSQL_INNODB_FILE_PER_TABLE" "1" }}
{{- if getenv "WSREP_ON" }}
innodb_flush_log_at_trx_commit          = {{ getenv "MYSQL_INNODB_FLUSH_LOG_AT_TRX_COMMIT" "0" }}
{{- else }}
innodb_flush_log_at_trx_commit          = {{ getenv "MYSQL_INNODB_FLUSH_LOG_AT_TRX_COMMIT" "1" }}
{{- end }}
innodb_flush_method                     = {{ getenv "MYSQL_INNODB_FLUSH_METHOD" "O_DIRECT" }}
innodb_force_load_corrupted             = {{ getenv "MYSQL_INNODB_FORCE_LOAD_CORRUPTED" "0" }}
innodb_force_recovery                   = {{ getenv "MYSQL_INNODB_FORCE_RECOVERY" "0" }}
innodb_io_capacity                      = {{ getenv "MYSQL_INNODB_IO_CAPACITY" "200" }}
innodb_lock_wait_timeout                = {{ getenv "MYSQL_INNODB_LOCK_WAIT_TIMEOUT" "50" }}
innodb_log_buffer_size                  = {{ getenv "MYSQL_INNODB_LOG_BUFFER_SIZE" "8M" }}
innodb_log_file_size                    = {{ getenv "MYSQL_INNODB_LOG_FILE_SIZE" "128M" }}
innodb_old_blocks_time                  = {{ getenv "MYSQL_INNODB_OLD_BLOCKS_TIME" "1000" }}
{{- if getenv "MYSQL_INNODB_OPEN_FILES" }}
innodb_open_files                       = {{ getenv "MYSQL_INNODB_OPEN_FILES" }}
{{- end }}
innodb_purge_threads                    = {{ getenv "MYSQL_INNODB_PURGE_THREADS" "4" }}
innodb_read_io_threads                  = {{ getenv "MYSQL_INNODB_READ_IO_THREADS" "4" }}
innodb_stats_on_metadata                = {{ getenv "MYSQL_INNODB_STATS_ON_METADATA" "OFF" }}
innodb_strict_mode                      = {{ getenv "MYSQL_INNODB_STRICT_MODE" "OFF" }}
innodb_write_io_threads                 = {{ getenv "MYSQL_INNODB_WRITE_IO_THREADS" "4" }}

performance_schema                      = {{ getenv "MYSQL_PERFORMANCE_SCHEMA" "OFF" }}

long_query_time                         = {{ getenv "MYSQL_LONG_QUERY_TIME" "2" }}
slow_query_log                          = {{ getenv "MYSQL_SLOW_QUERY_LOG" "OFF" }}
general_log                             = {{ getenv "MYSQL_GENERAL_LOG" "0" }}

log_warnings                            = {{ getenv "MYSQL_LOG_WARNINGS" "2" }}

net_write_timeout                       = {{ getenv "MYSQL_NET_WRITE_TIMEOUT" "90" }}
net_read_timeout                        = {{ getenv "MYSQL_NET_READ_TIMEOUT" "90" }}
wait_timeout                            = {{ getenv "MYSQL_WAIT_TIMEOUT" "420" }}
interactive_timeout                     = {{ getenv "MYSQL_INTERACTIVE_TIMEOUT" "420" }}

relay_log_recovery                      = {{ getenv "MYSQL_RELAY_LOG_RECOVERY" "0" }}

optimizer_prune_level                   = {{ getenv "MYSQL_OPTIMIZER_PRUNE_LEVEL" "1" }}
optimizer_search_depth                  = {{ getenv "MYSQL_OPTIMIZER_SEARCH_DEPTH" "62" }}
{{- if getenv "MYSQL_OPTIMIZER_SWITCH" }}
optimizer_switch                        = {{ getenv "MYSQL_OPTIMIZER_SWITCH" }}
{{- end }}

transaction-isolation                   = {{ getenv "MYSQL_TRANSACTION_ISOLATION" "REPEATABLE-READ" }}
{{- if getenv "WSREP_ON" }}


wsrep_on                                = {{ getenv "WSREP_ON" }}
wsrep_provider                          = "/usr/lib/galera/libgalera_smm.so"
{{- if getenv "WSREP_PROVIDER_OPTIONS" }}
wsrep_provider_options                  = {{ getenv "WSREP_PROVIDER_OPTIONS" }}
{{- end }}

binlog_format                           = ROW
innodb_autoinc_lock_mode                = 2

{{- if getenv "WSREP_CLUSTER_ADDRESS" }}
wsrep_cluster_address                   = {{ getenv "WSREP_CLUSTER_ADDRESS" }}
{{- end }}
wsrep_cluster_name                      = {{ getenv "WSREP_CLUSTER_NAME" "my_wsrep_cluster" }}
wsrep_node_address                      = {{ getenv "WSREP_NODE_ADDRESS" "0.0.0.0" }}
wsrep_node_incoming_address             = {{ getenv "WSREP_NODE_INCOMING_ADDRESS" "AUTO" }}
{{- if getenv "WSREP_NODE_NAME" }}
wsrep_node_name                         = {{ getenv "WSREP_NODE_NAME" }}
{{- end }}
{{- if getenv "WSREP_DATA_HOME_DIR" }}
wsrep_data_home_dir                     = {{ getenv "WSREP_DATA_HOME_DIR" }}
{{- end }}
{{- if getenv "WSREP_RECOVER" }}
wsrep_recover                           = {{ getenv "WSREP_RECOVER" }}
{{- end }}
{{- if getenv "WSREP_START_POSITION" }}
wsrep_start_position                    = {{ getenv "WSREP_START_POSITION" }}
{{- end }}

wsrep_auto_increment_control            = {{ getenv "WSREP_AUTO_INCREMENT_CONTROL" "ON" }}
wsrep_certification_rules               = {{ getenv "WSREP_CERTIFICATION_RULES" "strict" }}
wsrep_certify_nonPK                     = {{ getenv "WSREP_CERTIFY_NONPK" "ON" }}
wsrep_convert_LOCK_to_trx               = {{ getenv "WSREP_CONVERT_LOCK_TO_TRX" "OFF" }}
{{- if getenv "WSREP_DBUG_OPTION" }}
wsrep_dbug_option                       = {{ getenv "WSREP_DBUG_OPTION" }}
{{- end }}
wsrep_debug                             = {{ getenv "WSREP_DEBUG" "NONE" }}
wsrep_desync                            = {{ getenv "WSREP_DESYNC" "OFF" }}
wsrep_dirty_reads                       = {{ getenv "WSREP_DIRTY_READS" "OFF" }}
wsrep_drupal_282555_workaround          = {{ getenv "WSREP_DRUPAL_282555_WORKAROUND" "OFF" }}
wsrep_forced_binlog_format              = {{ getenv "WSREP_FORCED_BINLOG_FORMAT" "NONE" }}
wsrep_gtid_domain_id                    = {{ getenv "WSREP_GTID_DOMAIN_ID" "0" }}
wsrep_gtid_mode                         = {{ getenv "WSREP_GTID_MODE" "OFF" }}
wsrep_ignore_apply_errors               = {{ getenv "WSREP_IGNORE_APPLY_ERRORS" "0" }}
wsrep_load_data_splitting               = {{ getenv "WSREP_LOAD_DATA_SPLITTING" "OFF" }}
wsrep_log_conflicts                     = {{ getenv "WSREP_LOG_CONFLICTS" "OFF" }}
wsrep_max_ws_rows                       = {{ getenv "WSREP_MAX_WS_ROWS" "0" }}
wsrep_max_ws_size                       = {{ getenv "WSREP_MAX_WS_SIZE" "2G" }}
wsrep_mysql_replication_bundle          = {{ getenv "WSREP_MYSQL_REPLICATION_BUNDLE" "0" }}
{{- if getenv "WSREP_NOTIFY_CMD" }}
wsrep_notify_cmd                        = {{ getenv "WSREP_NOTIFY_CMD" }}
{{- end }}
wsrep_OSU_method                        = {{ getenv "WSREP_OSU_METHOD" "TOI" }}
wsrep_reject_queries                    = {{ getenv "WSREP_REJECT_QUERIES" "NONE" }}
wsrep_replicate_myisam                  = {{ getenv "WSREP_REPLICATE_MYISAM" "OFF" }}
wsrep_restart_slave                     = {{ getenv "WSREP_RESTART_SLAVE" "OFF" }}
wsrep_retry_autocommit                  = {{ getenv "WSREP_RETRY_AUTOCOMMIT" "1" }}
wsrep_slave_FK_checks                   = {{ getenv "WSREP_SLAVE_FK_CHECKS" "ON" }}
wsrep_slave_threads                     = {{ getenv "WSREP_SLAVE_THREADS" "1" }}
wsrep_slave_UK_checks                   = {{ getenv "WSREP_SLAVE_UK_CHECKS" "OFF" }}
wsrep_sr_store                          = {{ getenv "WSREP_SR_STORE" "table" }}
{{- if getenv "WSREP_SST_AUTH" }}
wsrep_sst_auth                          = {{ getenv "WSREP_SST_AUTH" }}
{{- end }}
{{- if getenv "WSREP_SST_AUTH" }}
wsrep_sst_donor                         = {{ getenv "WSREP_SST_DONOR" }}
{{- end }}
wsrep_sst_donor_rejects_queries         = {{ getenv "WSREP_SST_DONOR_REJECTS_QUERIES" "OFF" }}
wsrep_sst_method                        = {{ getenv "WSREP_SST_METHOD" "rsync" }}
wsrep_sst_receive_address               = {{ getenv "WSREP_RECEIVE_ADDRESS" "AUTO" }}
wsrep_sync_wait                         = {{ getenv "WSREP_SYNC_WAIT" "0" }}
wsrep_trx_fragment_size                 = {{ getenv "WSREP_TRX_FRAGMENT_SIZE" "0" }}
wsrep_trx_fragment_unit                 = {{ getenv "WSREP_TRX_FRAGMENT_UNIT" "bytes" }}
{{- end }}
